## Carga de datos a través de la función read_csv

In [2]:
%config IPCompleter.greedy=True
import pandas as pd
import os

In [3]:
main_path = "C:/Users/Oswaldo/Desktop/Cursos/Curso Completo de Machine Learning Data Science en Python/python-ml/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(main_path, fullpath)

NameError: name 'fullpath' is not defined

In [ ]:
data = pd.read_csv(fullpath)

In [ ]:
data.head()

### Ejemplos de los parámetros de la función read_csv
read.csv(filepath="/C:/Users/Oswaldo/Desktop/Cursos/Curso Completo de Machine Learning Data Science en Python/python-ml/datasets/titanic/titanic3.csv", sep=",", dtype={"a":np.float64, "b":np.int32}, header=0, names={"ingresos", "edad"}, skiprows=12, index_col=None, skip_blank_lines=False, na_filter=False)

In [ ]:
data2 = pd.read_csv(main_path + "/" + "customer-churn-model/Customer Churn Model.txt")

In [ ]:
data2.head()

In [ ]:
data2.columns.values

In [ ]:
data_cols = pd.read_csv(main_path + "/"  + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(main_path + "/" + "customer-churn-model/Customer Churn Model.txt", header = None,
                    names = data_col_list)
data2.columns.values

In [ ]:
data2.head()

### Carga de datos a través de la función open (carga manual)
Se lee el dataset línea por línea ejecutando un bucle for. Borra cada uno de los trozos de la memoria una vez que hayan sido procesados. Es útil en datasets muy grandes.

In [ ]:
data3 = open(main_path + "/" + "customer-churn-model/Customer Churn Model.txt", "r")

#### Método next()
El método next() navega hacia la siguiente posición de memoria de la siguiente línea (después de la
cabecera en este caso).

#### Método strip()
El método strip() elimina los espacios en blanco que sobran tanto al inicio como al final de la línea.

#### Método split()
El método split divide una línea de texto por un delimitador.

In [ ]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)
n_cols

In [ ]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []
main_dict

In [ ]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print('El dataset tiene {} filas y {} columnas'.format(counter, n_cols))

In [ ]:
df3 = pd.DataFrame(main_dict)
df3.head()

#### Cuidado con el método open
Aunque en la clase anterior vimos un ejemplo del método open de Python donde en este caso sólo se utilizó el modo "r" (lectura) siempre es bueno recordar lo siguiente para evitar problemas con los ficheros:

Hay que tener cuidado al abrir un fichero en modo "w" (escritura) ya que esto hará que dicho fichero pierda su contenido (en caso de tenerlo y querer conservarlo). Si por algún motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual posicionará el cursor al final y no borrará el contenido del mismo.

## Lectura y escritura de ficheros

In [5]:
infile = main_path + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = main_path + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [11]:
with open(infile, 'r') as infile1:
    with open(outfile, 'w') as outfile1:
        for line in infile1:
            fields = line.split(',')
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [13]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Leer datos desde una URL

In [14]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [15]:
medals_data = pd.read_csv(medals_url)
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [16]:
import csv
import urllib3

In [20]:
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
response = r.data

In [21]:
cr = csv.reader(response)

## Ficheros XLS y XLSX

In [34]:
main_path = "C:/Users/Oswaldo/Desktop/Cursos/Curso Completo de Machine Learning Data Science en Python/python-ml/datasets"
filename2 = "titanic/titanic3.xls"

In [36]:
titanic2 = pd.read_excel(main_path + '/' + filename2, 'titanic3')

ImportError: Install xlrd >= 0.9.0 for Excel support