## Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [3]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [6]:
n = 500
gender_data = []
income_data = []

for i in range(0, 500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [9]:
gender_data[:10]

['Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female']

In [10]:
income_data[:10]

['Rich',
 'Rich',
 'Middle Class',
 'Middle Class',
 'Poor',
 'Rich',
 'Rich',
 'Rich',
 'Middle Class',
 'Rich']

In [19]:
# N(m, s) -> m + s * z
heigth = 160 + 30 + np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [12]:
data = pd.DataFrame(
    {
        'Gender': gender_data,
        'Economic Status': income_data,
        'Height': heigth,
        'Weight': weight,
        'Age': age,
        'Income': income
    }
)

In [20]:
data.head()

         Age Economic Status  Gender      Height        Income     Weight
0  44.328505            Rich    Male  188.898184  21441.993584  49.824570
1  26.537681            Rich  Female  190.609704  19097.822338  82.363434
2  36.325917    Middle Class    Male  189.789563  20876.601958  61.592743
3  25.515146    Middle Class    Male  189.960662  17880.124346  43.340310
4  29.955122            Poor    Male  189.267245  14915.021729  91.566771

## Agrupación de datos

In [22]:
grouped_gender = data.groupby('Gender')

In [23]:
grouped_gender.groups

{'Female': Int64Index([  1,   5,   9,  11,  14,  15,  16,  17,  18,  21,
             ...
             481, 482, 484, 485, 489, 493, 494, 497, 498, 499],
            dtype='int64', length=248),
 'Male': Int64Index([  0,   2,   3,   4,   6,   7,   8,  10,  12,  13,
             ...
             480, 483, 486, 487, 488, 490, 491, 492, 495, 496],
            dtype='int64', length=252)}

In [26]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
           Age Economic Status  Gender      Height        Income      Weight
1    26.537681            Rich  Female  190.609704  19097.822338   82.363434
5    33.684081            Rich  Female  191.621302  15686.612592   63.025604
9    37.925621            Rich  Female  191.529669  19576.852081   76.992100
11   33.622875            Poor  Female  190.310370  25637.992664   54.826887
14   40.829312            Poor  Female  190.434373  12363.064911   42.042615
15   36.049173    Middle Class  Female  190.450238  20209.129681   92.306076
16   31.059246            Rich  Female  188.923103  16329.819016   42.458647
17   28.069865            Rich  Female  188.166782  16597.628961   57.703105
18   32.602480    Middle Class  Female  190.100015  21426.019364   26.705591
21   30.750932    Middle Class  Female  191.526470  17672.336987   98.218379
24    7.060008    Middle Class  Female  189.202401  16031.193599   52.375664
25   38.903837            Rich  Female  189.526610  19319.054283   54.053472
27   20.639302    Middle Class  Female  191.778337  12120.271911   54.446547
28   27.589244            Rich  Female  190.189354  17230.166963   85.042616
29   26.988945            Poor  Female  190.468983  15772.589713   88.000403
30    6.489521            Poor  Female  191.353122  16509.170560   38.057373
32   31.939636            Poor  Female  190.979418  18314.864884  100.601433
33   22.325152            Rich  Female  189.751513  13349.805548  106.018387
35   21.083512            Rich  Female  190.913247  27796.627362   73.841738
36   42.458955    Middle Class  Female  189.775313  15900.860765   40.000490
37   40.086819    Middle Class  Female  190.091560  11810.977059  104.601711
39   39.171840    Middle Class  Female  190.302937  14236.662454   93.339119
43   24.827879            Rich  Female  191.635944  15099.549463   41.514563
44   55.009114    Middle Class  Female  190.429743  15730.627243   61.396965
46   40.998311            Rich  Female  190.298887  16467.173733   77.658135
47   25.168551            Rich  Female  191.361026  23320.249288   35.006990
50   24.948708            Poor  Female  189.023631  16070.215937   49.286741
51   29.737885            Rich  Female  189.047530  21259.661433   83.981413
55   15.185748    Middle Class  Female  189.514198  15938.325192  100.180081
57   22.417301            Poor  Female  191.230146  22041.545092  125.333034
..         ...             ...     ...         ...           ...         ...
435  45.461075            Rich  Female  190.019720  17568.085941   90.922800
436  60.812264            Rich  Female  190.110194  17183.341745   56.590974
438  32.267029            Rich  Female  189.265032  16734.693553   53.952885
442  25.104731            Rich  Female  189.439614  15377.920088   54.819712
444   7.595804            Poor  Female  189.473277  14632.816731   43.659784
445  28.325312    Middle Class  Female  188.849576  17728.637290   88.165984
446  20.658493            Rich  Female  190.315639  11891.720564   78.767479
447  13.935183            Poor  Female  190.043990  12736.647151   80.443280
448  30.259044            Rich  Female  191.529847  20532.817571   40.473193
449  14.641895            Rich  Female  187.941099  23567.455253  156.166859
455  31.594388            Poor  Female  189.893590  19920.438323   73.495815
459  37.714511    Middle Class  Female  190.330709  21142.345866   60.268831
461  32.012516            Poor  Female  190.411542  18857.697221   90.493792
463  17.783436            Poor  Female  189.727019  20044.744200   65.176913
464  46.317499            Rich  Female  189.716814  17696.645328   38.758422
469  44.623294            Poor  Female  189.714362  17823.611503   26.977366
470  21.871824            Poor  Female  190.027741  13785.627248   56.888481
471  30.763392            Poor  Female  189.581958  18057.712996   47.105391
472  52.781208            Rich  Female  189.429985  21030.919382   65.242181
476  36.272060    Middle Class  Female  188.434205  20811.410444   73.387061
481  31.822653            Poor  Female  192.190535  17719.916572   12.066803
482  19.892443            Rich  Female  190.282285  22463.714182   77.090336
484  23.254610            Poor  Female  188.353849  20557.853813   67.374792
485  21.318114            Rich  Female  190.845402  23128.638754   38.120485
489  18.554478            Rich  Female  189.621502  14067.818029   81.059452
493  20.844782    Middle Class  Female  189.901846  19726.923923   13.993711
494  30.009184            Rich  Female  190.448447  16221.270214  109.917895
497  33.315154    Middle Class  Female  189.450797  17867.621744   97.380575
498  38.756221            Poor  Female  188.339762  15397.305403   70.529417
499   0.684612            Rich  Female  188.938445  14180.351115   26.775277

[248 rows x 6 columns]
Male
           Age Economic Status Gender      Height        Income      Weight
0    44.328505            Rich   Male  188.898184  21441.993584   49.824570
2    36.325917    Middle Class   Male  189.789563  20876.601958   61.592743
3    25.515146    Middle Class   Male  189.960662  17880.124346   43.340310
4    29.955122            Poor   Male  189.267245  14915.021729   91.566771
6    30.100799            Rich   Male  190.075736  23505.007479   57.403315
7    50.507479            Rich   Male  191.025693  14423.261375   -1.885869
8    28.668357    Middle Class   Male  189.205942  21049.310787   89.613604
10   17.697158            Rich   Male  191.900351  12964.490756  134.544428
12   35.435782            Rich   Male  188.569371  14159.300182   67.185619
13   44.803661            Poor   Male  190.353590  16289.861526   94.103250
19   49.818900            Poor   Male  189.055831  12690.602684  107.143788
20   18.327617            Poor   Male  189.224162  21445.270499   62.192884
22    8.497960            Rich   Male  189.451834  20877.361088   96.486600
23   29.133282            Rich   Male  189.274752  16860.817685   71.975337
26   34.566520            Poor   Male  191.117590  14819.861827   22.306835
31   38.576666            Poor   Male  190.457058  17805.714733   47.460131
34   43.193117    Middle Class   Male  189.690001  15531.664862   39.765351
38   12.843656            Rich   Male  188.381023  19057.223120   23.802960
40   36.240558    Middle Class   Male  191.450425  24567.333050   65.670885
41   16.780596    Middle Class   Male  191.855606  16993.007194   72.469787
42   47.049941    Middle Class   Male  190.094015  18371.933522   86.712125
45   21.164451            Poor   Male  190.556280  11969.861027   89.631006
48   31.340469            Poor   Male  189.060409  19791.286391   38.726865
49    8.400573    Middle Class   Male  187.423928  17693.792695   74.037148
52   50.377096            Rich   Male  189.242590  14724.820056   48.895324
53   31.270088            Poor   Male  188.909319  19885.290129  125.790309
54   28.633911            Rich   Male  189.860120  17635.983890   67.607014
56   24.749572            Poor   Male  189.627724  18487.629310   97.049774
59   11.116632            Poor   Male  189.885838  23695.916911   50.635300
60   40.684313    Middle Class   Male  189.912534  24584.381909   99.683164
..         ...             ...    ...         ...           ...         ...
450  10.996368            Poor   Male  188.403916  17840.478187   75.748235
451  18.662455    Middle Class   Male  189.978064  17947.183248   68.573174
452  25.811408            Rich   Male  191.219301  16854.935753   29.891581
453  41.397276            Poor   Male  190.743930  21241.895591  101.933732
454  21.771433            Poor   Male  187.761492  18244.400962   66.323873
456  20.516699    Middle Class   Male  189.908729  17835.544382  101.966915
457  22.341963            Poor   Male  189.225699  17436.290057   71.281058
458  26.255993            Poor   Male  189.570268  24068.831489   56.447862
460  40.423397            Poor   Male  190.518849  24332.013048   45.254272
462  17.385901            Poor   Male  189.651015  16310.135429   26.885274
465  25.252908    Middle Class   Male  191.716527  14121.537430   98.786854
466  41.920189            Rich   Male  187.848730  14888.947532   70.248195
467  27.400782    Middle Class   Male  189.949660  17382.507374   93.993332
468  19.191905            Rich   Male  190.579794  14778.641873   66.481029
473  22.499712            Rich   Male  190.691941  15271.547800   70.755397
474  34.588421    Middle Class   Male  190.705663  17178.935551   81.852237
475  28.012986            Poor   Male  190.815555  20567.336757   95.753466
477  29.700453            Poor   Male  188.815974  19488.447382   29.213392
478  36.698761            Poor   Male  188.599335  15627.142365   52.379087
479  45.914338            Rich   Male  189.976770  21465.070952  127.463522
480  27.408160            Rich   Male  189.334368  18482.695954  102.444638
483  31.595314    Middle Class   Male  190.566074  21555.946507   47.092945
486   3.866409            Poor   Male  188.095396  15493.016906   31.357623
487  31.066794            Poor   Male  189.176181  11877.965565   62.991138
488  24.361935            Poor   Male  189.611131  15228.742028   77.067854
490  24.926068    Middle Class   Male  191.867250  22034.584374   15.006745
491  32.552680    Middle Class   Male  190.715008  25473.021321   90.319359
492  26.799808            Poor   Male  191.107172  12014.860473   67.775192
495  32.992123            Poor   Male  189.000824   9170.204428   45.686418
496  20.416986            Poor   Male  186.887456  19271.738078   71.917111

[252 rows x 6 columns]

In [28]:
# Genera un dataframe con un grupo determinado
grouped_gender.get_group('Female').head()

          Age Economic Status  Gender      Height        Income     Weight
1   26.537681            Rich  Female  190.609704  19097.822338  82.363434
5   33.684081            Rich  Female  191.621302  15686.612592  63.025604
9   37.925621            Rich  Female  191.529669  19576.852081  76.992100
11  33.622875            Poor  Female  190.310370  25637.992664  54.826887
14  40.829312            Poor  Female  190.434373  12363.064911  42.042615

In [29]:
double_group = data.groupby(['Gender', 'Economic Status'])

In [30]:
len(double_group)

6

In [31]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
           Age Economic Status  Gender      Height        Income      Weight
15   36.049173    Middle Class  Female  190.450238  20209.129681   92.306076
18   32.602480    Middle Class  Female  190.100015  21426.019364   26.705591
21   30.750932    Middle Class  Female  191.526470  17672.336987   98.218379
24    7.060008    Middle Class  Female  189.202401  16031.193599   52.375664
27   20.639302    Middle Class  Female  191.778337  12120.271911   54.446547
36   42.458955    Middle Class  Female  189.775313  15900.860765   40.000490
37   40.086819    Middle Class  Female  190.091560  11810.977059  104.601711
39   39.171840    Middle Class  Female  190.302937  14236.662454   93.339119
44   55.009114    Middle Class  Female  190.429743  15730.627243   61.396965
55   15.185748    Middle Class  Female  189.514198  15938.325192  100.180081
58   10.485686    Middle Class  Female  191.762192  13212.459748   33.281033
63   33.829613    Middle Class  Female  189.508280  20979.367643   81.965459
66   31.102113    Middle Class  Female  189.666224  18128.236149   83.437192
93   47.730816    Middle Class  Female  189.317786  25136.317145   29.387915
104  26.955405    Middle Class  Female  190.631839  15890.820244   40.670341
105  31.732283    Middle Class  Female  188.198017  14602.191668   73.335520
106  15.974018    Middle Class  Female  188.401970  21597.015432   77.342994
109  15.868212    Middle Class  Female  190.445668  15881.300562   79.602978
122  25.652936    Middle Class  Female  188.556149  22219.497813   87.823789
124  44.222796    Middle Class  Female  190.342651  12372.691050   70.129176
130  17.956713    Middle Class  Female  189.397251  21602.372007   63.930088
140  22.206247    Middle Class  Female  190.392766  26444.201525   39.885395
150  26.030310    Middle Class  Female  188.681412  11027.076546   85.755919
153  30.889961    Middle Class  Female  189.234946  22456.153676   49.574572
165  18.312776    Middle Class  Female  189.003798  19278.256144   83.427597
183  19.371222    Middle Class  Female  188.932116  13460.485049   13.088589
186  45.014590    Middle Class  Female  190.513271  15922.300035   53.616457
188  40.034522    Middle Class  Female  191.416976  18829.228066    9.491229
189  10.935845    Middle Class  Female  190.723470  14409.971026   33.595872
197  30.063971    Middle Class  Female  188.135612  22669.233488  110.833899
..         ...             ...     ...         ...           ...         ...
241  15.812852    Middle Class  Female  190.006372  15664.323505   67.134741
251  24.217116    Middle Class  Female  189.677450  14808.246287   92.155021
254  28.130533    Middle Class  Female  189.945857  21172.588098   56.648205
263  35.484980    Middle Class  Female  190.574986  17503.195895   77.624207
269  23.142102    Middle Class  Female  190.881104  19303.671264   72.828852
272  39.079758    Middle Class  Female  188.738312  18617.922568   35.027028
274  32.912862    Middle Class  Female  188.119859  19695.541231   74.398187
280  35.499918    Middle Class  Female  191.400744  16241.648309   66.106081
294  25.684380    Middle Class  Female  190.916900  18468.398158   71.361538
308  30.546889    Middle Class  Female  189.629204  16790.566919   74.524007
329  32.125396    Middle Class  Female  190.059685  12731.631151  119.857485
333  29.886716    Middle Class  Female  189.865970  12585.660561   83.012379
337  30.230245    Middle Class  Female  192.731299  17281.625688   99.733228
342  25.027256    Middle Class  Female  189.917244  16619.544261   88.414286
357  37.648518    Middle Class  Female  189.319060  19182.986856   90.445631
358  45.176900    Middle Class  Female  191.349415  20257.119841   82.821483
359  35.270882    Middle Class  Female  188.711419  17331.367034   19.480190
366  27.204578    Middle Class  Female  191.900627  22465.540417   69.629337
376  10.765421    Middle Class  Female  191.735797  20055.690663   43.327523
383  39.092882    Middle Class  Female  190.970517  18320.349840   67.762142
385  16.566317    Middle Class  Female  187.981750  20062.031286   75.382931
401  50.356529    Middle Class  Female  190.032940  24530.621572   65.472987
428  43.731927    Middle Class  Female  188.424157  17431.543768   75.479720
429  21.098316    Middle Class  Female  191.301558  21090.677481   41.527512
433  47.507175    Middle Class  Female  189.179623  21975.665162   78.862002
445  28.325312    Middle Class  Female  188.849576  17728.637290   88.165984
459  37.714511    Middle Class  Female  190.330709  21142.345866   60.268831
476  36.272060    Middle Class  Female  188.434205  20811.410444   73.387061
493  20.844782    Middle Class  Female  189.901846  19726.923923   13.993711
497  33.315154    Middle Class  Female  189.450797  17867.621744   97.380575

[68 rows x 6 columns]
('Female', 'Poor')
           Age Economic Status  Gender      Height        Income      Weight
11   33.622875            Poor  Female  190.310370  25637.992664   54.826887
14   40.829312            Poor  Female  190.434373  12363.064911   42.042615
29   26.988945            Poor  Female  190.468983  15772.589713   88.000403
30    6.489521            Poor  Female  191.353122  16509.170560   38.057373
32   31.939636            Poor  Female  190.979418  18314.864884  100.601433
50   24.948708            Poor  Female  189.023631  16070.215937   49.286741
57   22.417301            Poor  Female  191.230146  22041.545092  125.333034
69   44.758761            Poor  Female  189.775579  14198.882650   54.062682
70   37.079767            Poor  Female  190.001043  22371.957779   29.281635
71    9.306261            Poor  Female  191.761186  21219.990575  101.175339
74   21.830077            Poor  Female  188.971165  18446.798688   61.724104
75   46.675014            Poor  Female  192.297875  24998.907983   77.660247
87   32.323485            Poor  Female  190.637907  21535.785223   44.102042
100   5.194192            Poor  Female  190.184750  18606.314552   62.353688
121  36.795698            Poor  Female  190.025467  14946.251584  102.296596
125  35.070917            Poor  Female  189.475437  19427.721499   75.265613
131  19.848807            Poor  Female  190.354611  24721.295176   55.970131
134  15.384156            Poor  Female  189.321360  16152.997243   41.852791
145  21.208847            Poor  Female  190.301250  18708.298722  108.517879
146  18.763116            Poor  Female  188.605040  11632.016615   60.116295
147  22.410180            Poor  Female  191.448547  10762.988304   37.101106
152  57.543579            Poor  Female  189.127332  17308.404094   92.056026
158  39.447850            Poor  Female  188.725134  14559.907218   89.865363
162  21.901994            Poor  Female  192.546415  13410.165373   56.392740
168  28.743235            Poor  Female  189.449912  21097.222355   36.410681
175  16.349680            Poor  Female  190.999935  22427.516945  116.409333
187  17.335600            Poor  Female  190.043436  15199.355870   26.031446
199  26.957545            Poor  Female  188.008707  16824.150722   75.833461
202  58.737440            Poor  Female  190.444049  16093.509141   91.648641
209  28.998696            Poor  Female  190.811177  18769.580334   70.041758
..         ...             ...     ...         ...           ...         ...
338  36.837147            Poor  Female  189.164042  23595.825611  110.640832
340  32.077808            Poor  Female  190.278822  22745.204868   58.907907
346  28.726154            Poor  Female  190.845072  18787.619575   72.593774
347  12.731905            Poor  Female  189.124589  11397.867908   30.868409
349  38.522629            Poor  Female  190.199679  14133.094936   76.024386
351  15.950792            Poor  Female  190.937186  19856.071343   18.828393
355  25.486040            Poor  Female  188.732731  17207.567115   92.435832
371  37.774195            Poor  Female  189.431814  21961.325928  100.496921
373  22.909509            Poor  Female  188.913579  17006.161022   77.807742
381   6.618971            Poor  Female  190.266268  17412.727813    0.960544
384  51.612971            Poor  Female  189.531736  10121.685901   83.031609
390  35.506990            Poor  Female  189.875358  16198.982619   45.528001
408  14.565222            Poor  Female  189.819160  14338.554467   82.074250
409  11.032774            Poor  Female  190.216549  18585.252974   40.293026
412  26.024296            Poor  Female  191.454632  24002.538085   52.841707
417  29.694391            Poor  Female  189.545297  16539.938684   79.632588
421  22.109624            Poor  Female  191.009465  22880.455731   51.581819
431  30.670799            Poor  Female  188.526638  17312.383281   58.430730
432  42.306379            Poor  Female  188.772134  19505.788097   49.443572
444   7.595804            Poor  Female  189.473277  14632.816731   43.659784
447  13.935183            Poor  Female  190.043990  12736.647151   80.443280
455  31.594388            Poor  Female  189.893590  19920.438323   73.495815
461  32.012516            Poor  Female  190.411542  18857.697221   90.493792
463  17.783436            Poor  Female  189.727019  20044.744200   65.176913
469  44.623294            Poor  Female  189.714362  17823.611503   26.977366
470  21.871824            Poor  Female  190.027741  13785.627248   56.888481
471  30.763392            Poor  Female  189.581958  18057.712996   47.105391
481  31.822653            Poor  Female  192.190535  17719.916572   12.066803
484  23.254610            Poor  Female  188.353849  20557.853813   67.374792
498  38.756221            Poor  Female  188.339762  15397.305403   70.529417

[80 rows x 6 columns]
('Female', 'Rich')
           Age Economic Status  Gender      Height        Income      Weight
1    26.537681            Rich  Female  190.609704  19097.822338   82.363434
5    33.684081            Rich  Female  191.621302  15686.612592   63.025604
9    37.925621            Rich  Female  191.529669  19576.852081   76.992100
16   31.059246            Rich  Female  188.923103  16329.819016   42.458647
17   28.069865            Rich  Female  188.166782  16597.628961   57.703105
25   38.903837            Rich  Female  189.526610  19319.054283   54.053472
28   27.589244            Rich  Female  190.189354  17230.166963   85.042616
33   22.325152            Rich  Female  189.751513  13349.805548  106.018387
35   21.083512            Rich  Female  190.913247  27796.627362   73.841738
43   24.827879            Rich  Female  191.635944  15099.549463   41.514563
46   40.998311            Rich  Female  190.298887  16467.173733   77.658135
47   25.168551            Rich  Female  191.361026  23320.249288   35.006990
51   29.737885            Rich  Female  189.047530  21259.661433   83.981413
65   24.041978            Rich  Female  188.817813  12402.529432   54.244295
76   31.457988            Rich  Female  190.558359  19955.951185   64.654395
77   24.366128            Rich  Female  189.874950  17603.276351   37.929895
79   21.625679            Rich  Female  189.262261  17608.948881   61.285695
82    4.497254            Rich  Female  189.553980  27525.729975   38.475794
85   32.777436            Rich  Female  189.455597  20597.993722   37.997010
86   37.556789            Rich  Female  191.023200  15931.152495   43.556580
97   41.863222            Rich  Female  189.662310  21110.467778   63.398056
99   36.249048            Rich  Female  190.193511  16421.786755   49.552118
101  11.052576            Rich  Female  188.908158  19263.619475   90.168452
115  35.843114            Rich  Female  190.321676  21689.451175   51.737048
120  26.991914            Rich  Female  188.253625  14863.896192   74.868278
133  43.727584            Rich  Female  188.124210  12762.604796   39.310861
143  30.602932            Rich  Female  189.740878  16283.677471   30.692792
148  24.519792            Rich  Female  190.523263  20009.639656   73.985272
154  46.351767            Rich  Female  190.078139  22452.577876   49.844032
155  29.072934            Rich  Female  188.193694  20275.965021   47.214509
..         ...             ...     ...         ...           ...         ...
339  31.621861            Rich  Female  191.086823  24277.407484  110.382325
348  43.352697            Rich  Female  190.308255  19630.850316   27.318842
372  18.619571            Rich  Female  189.475903  24538.949103   17.829106
374  12.313547            Rich  Female  191.387332  21896.870908   73.233145
377  25.569752            Rich  Female  189.940131  17063.464528   71.893209
378  18.517191            Rich  Female  189.854053  21335.992491   27.116330
379  13.853735            Rich  Female  190.458461  18822.008366   70.097765
387  17.337562            Rich  Female  189.131795  10173.483031   89.887066
393  45.488404            Rich  Female  189.150002  19325.222589   73.218969
399  33.665657            Rich  Female  189.628127  17306.415243   90.268333
400  25.636540            Rich  Female  189.400730  20225.781944   70.689269
403  48.591734            Rich  Female  189.326438  20978.792831   86.284532
410  22.268174            Rich  Female  188.748378  18674.543527   76.185549
411  21.836886            Rich  Female  191.063982  18167.083595   68.178985
422   1.179928            Rich  Female  190.185745  16817.585323   52.677827
425  30.955039            Rich  Female  188.782931  21195.120340   51.180287
435  45.461075            Rich  Female  190.019720  17568.085941   90.922800
436  60.812264            Rich  Female  190.110194  17183.341745   56.590974
438  32.267029            Rich  Female  189.265032  16734.693553   53.952885
442  25.104731            Rich  Female  189.439614  15377.920088   54.819712
446  20.658493            Rich  Female  190.315639  11891.720564   78.767479
448  30.259044            Rich  Female  191.529847  20532.817571   40.473193
449  14.641895            Rich  Female  187.941099  23567.455253  156.166859
464  46.317499            Rich  Female  189.716814  17696.645328   38.758422
472  52.781208            Rich  Female  189.429985  21030.919382   65.242181
482  19.892443            Rich  Female  190.282285  22463.714182   77.090336
485  21.318114            Rich  Female  190.845402  23128.638754   38.120485
489  18.554478            Rich  Female  189.621502  14067.818029   81.059452
494  30.009184            Rich  Female  190.448447  16221.270214  109.917895
499   0.684612            Rich  Female  188.938445  14180.351115   26.775277

[100 rows x 6 columns]
('Male', 'Middle Class')
           Age Economic Status Gender      Height        Income      Weight
2    36.325917    Middle Class   Male  189.789563  20876.601958   61.592743
3    25.515146    Middle Class   Male  189.960662  17880.124346   43.340310
8    28.668357    Middle Class   Male  189.205942  21049.310787   89.613604
34   43.193117    Middle Class   Male  189.690001  15531.664862   39.765351
40   36.240558    Middle Class   Male  191.450425  24567.333050   65.670885
41   16.780596    Middle Class   Male  191.855606  16993.007194   72.469787
42   47.049941    Middle Class   Male  190.094015  18371.933522   86.712125
49    8.400573    Middle Class   Male  187.423928  17693.792695   74.037148
60   40.684313    Middle Class   Male  189.912534  24584.381909   99.683164
61   46.627936    Middle Class   Male  190.189120  21529.748992   42.356791
62   28.283457    Middle Class   Male  188.859203  21413.288625   31.197974
64   53.217788    Middle Class   Male  189.783306   6459.710851   57.201032
67   38.073041    Middle Class   Male  189.668809  20392.889401   55.650647
72   29.581680    Middle Class   Male  189.973556  12176.677127   66.409724
78   46.071078    Middle Class   Male  188.998787  19118.159621   30.134328
89    7.398301    Middle Class   Male  188.632523  23165.099076   59.220372
94   15.149584    Middle Class   Male  189.737457  18274.823791   96.861349
96   47.369438    Middle Class   Male  188.665485  19268.147351   59.688488
98    7.064747    Middle Class   Male  191.409174  18642.388118   65.269810
107  28.854388    Middle Class   Male  191.033706  19936.888586  100.088649
108  23.508014    Middle Class   Male  190.160012  17487.665127   34.052183
118  54.919703    Middle Class   Male  188.983292  15393.590464   36.760017
126  55.802311    Middle Class   Male  190.147511  26791.368877   56.763764
132  49.241158    Middle Class   Male  191.094081  17325.054347   56.219719
136  19.896248    Middle Class   Male  189.438960  21584.761238   72.541645
141  30.298093    Middle Class   Male  189.743166  19872.001379   63.233557
144  35.629090    Middle Class   Male  190.412398  19405.704117   83.023297
149  17.010163    Middle Class   Male  190.400438  16410.110561    8.059182
156  35.810027    Middle Class   Male  189.748303  23998.026004   37.035008
161  23.000495    Middle Class   Male  189.538127  24931.050460   96.868001
..         ...             ...    ...         ...           ...         ...
328  47.443078    Middle Class   Male  188.015222  24056.681548   46.736732
336  42.191793    Middle Class   Male  189.463632  10442.477154   92.954247
345  21.209076    Middle Class   Male  190.698532  22723.106594   91.156092
350  33.977513    Middle Class   Male  188.668632  14352.821939   79.717577
353   5.231949    Middle Class   Male  189.515908  19027.163287   95.455193
360   9.706498    Middle Class   Male  190.415080  18806.231185   61.828835
364  39.511861    Middle Class   Male  190.193523  16417.542350   70.454963
365  25.731761    Middle Class   Male  188.305452  20331.779548  105.842038
367  41.838210    Middle Class   Male  191.606817  16379.639668   75.327858
369  43.253781    Middle Class   Male  188.827395  17891.669136   62.933643
386  39.519364    Middle Class   Male  190.866889  15041.509495   83.277454
388  36.446324    Middle Class   Male  188.895857  16781.383023   17.367773
394  31.186292    Middle Class   Male  190.320256  14716.293892   71.502364
395  45.461828    Middle Class   Male  190.027962  14021.147740   72.536656
415   3.522808    Middle Class   Male  191.096841  19911.404837   67.454870
416  25.444377    Middle Class   Male  189.272770  10195.491064   35.562471
418  35.059745    Middle Class   Male  190.128487  20306.407583  109.653076
419  54.455136    Middle Class   Male  190.623100  22712.311972  112.289442
423  12.376453    Middle Class   Male  190.016194  15444.012148   80.586111
427  47.623216    Middle Class   Male  190.043262  18926.834868   36.945498
434  40.699793    Middle Class   Male  190.279485  14204.304653    8.469372
440  38.332303    Middle Class   Male  190.383303  16236.661617   20.425071
451  18.662455    Middle Class   Male  189.978064  17947.183248   68.573174
456  20.516699    Middle Class   Male  189.908729  17835.544382  101.966915
465  25.252908    Middle Class   Male  191.716527  14121.537430   98.786854
467  27.400782    Middle Class   Male  189.949660  17382.507374   93.993332
474  34.588421    Middle Class   Male  190.705663  17178.935551   81.852237
483  31.595314    Middle Class   Male  190.566074  21555.946507   47.092945
490  24.926068    Middle Class   Male  191.867250  22034.584374   15.006745
491  32.552680    Middle Class   Male  190.715008  25473.021321   90.319359

[86 rows x 6 columns]
('Male', 'Poor')
           Age Economic Status Gender      Height        Income      Weight
4    29.955122            Poor   Male  189.267245  14915.021729   91.566771
13   44.803661            Poor   Male  190.353590  16289.861526   94.103250
19   49.818900            Poor   Male  189.055831  12690.602684  107.143788
20   18.327617            Poor   Male  189.224162  21445.270499   62.192884
26   34.566520            Poor   Male  191.117590  14819.861827   22.306835
31   38.576666            Poor   Male  190.457058  17805.714733   47.460131
45   21.164451            Poor   Male  190.556280  11969.861027   89.631006
48   31.340469            Poor   Male  189.060409  19791.286391   38.726865
53   31.270088            Poor   Male  188.909319  19885.290129  125.790309