# Las matemáticas tras la regresión logística

## Las tablas de contingencia

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../datasets/gender-purchase/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [6]:
df.shape

(511, 2)

Una tabla de contingencia es básicamente una representación de las frecuencias de las observaciones que caen dentro de las diversas categorías para dos o más variables.

In [8]:
# crosstab() sirve para crurzar filas y columnas y obtener información de ellas
contingence_table = pd.crosstab(df['Gender'], df['Purchase'])
contingence_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [9]:
contingence_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [10]:
contingence_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [11]:
contingence_table.astype('float').div(contingence_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La probabilidad condicional